$background_color:#fff;
$header_image:url(../img/m-h-day.jpg) ;
$text_color:#282b39;
$button_color:#699a00;
$text_gradient:linear-gradient(rgba(59,52,247,0) 0%, rgba(30,33,251,0) 50%, rgba(15,150,186,1) 50%, rgb(12, 161, 200) 100%);
$cards_background_color:#1c1e2a;
$footer_background_color:$cards_background_color;
$banner_gradient:linear-gradient(to right, #659605, #5a8c2d, #4c7d62, #3c6d98, #2b5cce);
$font_text:Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$font_standart:$font_text;