$background_color:#1c1e2a;
$header_image:url(../img/m-h-night.jpg) ;
$text_color:#fff;
$button_color:#e4ae00;
$text_gradient:linear-gradient(rgba(227,171,0,0) 0%, rgba(206,138,251,0) 50%, rgb(255, 0, 0) 50%, rgb(214, 0, 0) 100%);
$cards_background_color:#383d4f;
$footer_background_color:$cards_background_color;
$banner_gradient:linear-gradient(to right, #dea401, #cf8c0e, #bd6d24, #a4443f, #932851);
$font_text:"Palatino Linotype", "Book Antiqua", Palatino, serif;
$font_standart:Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;